<div class="container">

  <div class="col-md-12 page-body">
    <div class="row">





      <div class="col-md-12 content-page">
        <div class="sub-title">
          <a routerLink="/home/page" title="Go to Home Page">
            <h2>Back Home</h2>
          </a>
          <a class="smoth-scroll"><i class="icon-bubbles"></i></a>
        </div>
        <div class="col-md-12 " style="display: block;">
          <!-- Post Headline Start -->
          <div class="post-title ">
            <h1>{{articleDetail.title}}</h1>
          </div>
          <!-- Post Headline End -->
          <!-- Post Detail Start -->
          <div class="post-info ">
            <span>{{articleDetail.updated_at| date:'longDate'}} / by <a routerLink=''
                target="_blank">{{articleDetail.user.name}}</a></span>
          </div>
          <!-- Post Detail End -->


          <p [innerHTML]="articleDetail.content"></p>





          <div class="about-author margin-top-70 margin-bottom-50">
            <div class="picture text-center">
              <img [src]="articleDetail.user.image" class="img-responsive w-100" alt="">
            </div>

            <div class="c-padding">
              <h3>Article By <a routerLink='' target="_blank">{{articleDetail.user.name}}</a></h3>
              <p>這邊可以讓user寫一些自我介紹啥的。</p>
            </div>
          </div>
          <!-- Post Author Bio Box End -->




          <!-- You May Also Like Start -->
          <div class="you-may-also-like margin-top-50 margin-bottom-50">
            <h3>You may also like</h3>
            <div class="row">

              <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="single.html">
                  <p>Make mailchimp singup form working with ajax using jquery plugin</p>
                </a>
              </div>

              <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="single.html">
                  <p>How to design elegant e-mail newsletter in html for wish christmas to your subscribers?</p>
                </a>
              </div>

              <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="single.html">
                  <p>How to customize a wordpress theme entirely from scratch using a child theme?</p>
                </a>
              </div>

            </div>
          </div>
          <!-- You May Also Like End -->




          <!-- Post Comment (Disqus) Start -->
          <div id="comment" class="comment">
            <h3>{{articleDetail.comments.length}} {{articleDetail.comments.length>1?'Comments':'Comment'}} </h3>
            <hr>
            <div class="comment-item" *ngFor="let item of articleDetail.comments;let index = index">
              <div class="d-flex flex-column">
                <div class="d-flex align-items-center flex-wrap my-3">
                  <div class="col-12 d-flex align-items-center  flex-wrap px-0 px-sm-2">
                    <h4 class="comment-index col-12">{{index+1}}</h4>
                    <div class="comment-photo mx-3" [style]="{backgroundImage:'url(' + item.user.image + ')'}"></div>
                    <div class="mx-0 mx-sm-3 pl-3">
                      <h4 class="author-name mx-1 my-2"><a routerLink="/">{{item.user.name}}</a></h4>
                      <span class="post-info font-italic"> {{item.updated_at}}</span>
                    </div>
                    <div
                      class="ml-auto comment-btn d-flex col-12 col-sm-1  flex-row flex-sm-column flex-sm-column-reverse justify-content-between">
                      <a (click)="open(deleteModal,item.id)" *ngIf="item.user.id===loginUserInfo.id">
                        <i class="fas fa-trash "></i></a>
                      <a (click)="turnOnEditMode(item.id,item.content)" *ngIf="item.user.id===loginUserInfo.id">
                        <i class="fas fa-edit"></i></a>
                    </div>
                  </div>
                  <div class="col-12 comment-text mt-3" *ngIf="!(edditStatus.mode&&item.id===edditStatus.id)">
                    <p class="pl-3" [innerHTML]="item.content"></p>
                  </div>
                  <div class="eddit-comment col-12 d-flex flex-column mt-3"
                    *ngIf="edditStatus.mode&&item.id===edditStatus.id">
                    <ckeditor [(data)]="edditEditorData" [(config)]="editorConfig">
                    </ckeditor>
                    <div class="mt-2 d-flex justify-content-end">
                      <button class="btn-outline-dark btn  ml-lg-auto" (click)="turnOffEditMode()">取消</button>
                      <button class="btn-outline-success btn ml-auto ml-lg-4"
                        (click)="edditComment(item.id)">送出</button>
                    </div>
                  </div>

                </div>

              </div>
              <hr>
            </div>


            <h3>Discuss about post</h3>
            <div class="d-flex flex-wrap">
              <div class="col-12 col-lg-2 d-flex flex-lg-column mb-2 mb-lg-0">
                <div class="avatar-box">
                  <i class="abs-center article-avatar" *ngIf="!isLogin"></i>
                  <img [src]="this.loginUserInfo.image" class="w-100" alt="" *ngIf="isLogin">
                </div>
                <div class="comment-author d-flex flex-column justify-content-center pl-2 pl-lg-0" *ngIf="!isLogin">
                  <div class="tip">訪客，您好</div>
                  <div class="tip">點擊此處<a routerLink="/login">登入</a>留言</div>
                </div>
                <div class="comment-author d-flex flex-column justify-content-center pl-2 pl-lg-0" *ngIf="isLogin">
                  <h4 class="text-dark">{{loginUserInfo.name}}</h4>
                  <div class="tip">{{loginUserInfo.name}}不是你嗎?點擊此處<a routerLink='/login'
                      (click)="loginSvc.logoutUser(loginUserInfo.member_token)">登出</a>留言</div>
                </div>
              </div>

              <ckeditor class="col-12 col-lg-10" [(data)]="editorData" [(config)]="editorConfig" [readOnly]="!isLogin">
              </ckeditor>

              <div class="col-12 ">
                <button class="load-more-button mx-0 ml-auto my-2" (click)="insertCommit()"> 送出</button>
              </div>
            </div>

          </div>
          <!-- Post Comment (Disqus) End -->



        </div>
      </div>

    </div>



    <!-- Subscribe Form Start -->
    <div class="col-md-12 col-md-offset-2">
      <form id="mc-form" method="post"
        action="http://uipasta.us14.list-manage.com/subscribe/post?u=854825d502cdc101233c08a21&amp;id=86e84d44b7"
        novalidate="true">

        <div class="subscribe-form margin-top-20">
          <input id="mc-email" type="email" placeholder="Email Address" class="text-input" name="EMAIL">
          <button class="submit-btn" type="submit">Submit</button>
        </div>
        <p>Subscribe to my weekly newsletter</p>
        <label for="mc-email" class="mc-label"></label>
      </form>

    </div>
    <!-- Subscribe Form End -->

    <!-- Modal -->

    <ng-template #deleteModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">刪除留言</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ngb-alert class="myalert" [type]="'success'" [dismissible]="false" *ngIf="deleteSuccessAlert">成功刪除
        </ngb-alert>
        確定要刪除此留言？
      </div>
      <div class="modal-footer px-4">
        <button type="button" class="btn btn-outline-danger mr-auto" (click)="deleteComment(modal)">Delete</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">取消</button>
      </div>
    </ng-template>
    <!-- Modal -->
  </div>
</div>
