<div id="spinner" class="spinner-container " @spinnerAnimations *ngIf="showProgressSpinner">
  <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
  <mat-spinner diameter="100" style="top:50%;" class="mx-auto"></mat-spinner>
</div>
<div class="container">

  <div class="col-md-12 page-body">
    <div class="row">

      <div class="col-md-12 content-page">
        <div class="sub-title">
          <a routerLink="/home/page" title="Go to Home Page">
            <h2>Back Home</h2>
          </a>
          <a class="smoth-scroll" style="cursor: pointer;"
            onclick="window.scrollTo({top: document.getElementById('comment').offsetTop,left: 0, behavior: 'smooth'});">
            <i class="icon-bubbles"></i></a>
          <div class="pt-4 d-flex justify-content-between justify-content-md-end w-100">
            <a style="cursor: pointer;" *ngIf="articleDetail.user.id===loginUserInfo.id"
               (click)="pickDeleteMode(deleteModal,'a',articleDetail.id)" >
              <mat-icon aria-hidden="false" class="mr-md-4" style="font-size: 35px; width: 35px; height: 36px;"
                aria-label="Example edit icon">delete</mat-icon>
            </a>
            <a style="cursor: pointer;" *ngIf="articleDetail.user.id===loginUserInfo.id" (click)="editArticle()">
              <mat-icon aria-hidden="false" class="" style="font-size: 35px; width: 35px; height: 36px;"
                aria-label="Example edit icon">edit</mat-icon>
            </a>
          </div>



        </div>
        <div class="col-md-12 mt-3" style="display: block;">
          <div class="px-3">
            <div class="post-head px-4 py-4">
              <div class="post-title my-2">
                <h1 class="d-none d-md-block">{{articleDetail.title}}</h1>
                <h3 class="d-block d-md-none">{{articleDetail.title}}</h3>
              </div>

              <div class="post-info">
                <span>{{articleDetail.updated_at| date:'longDate'}} / by <a [routerLink]="['/article/search']"
                    [queryParams]="{ authorID:articleDetail.user.id }"
                    target="_blank">{{articleDetail.user.name}}</a></span>

              </div>
            </div>

          </div>

          <!-- <p class="mt-3 px-3 post-content"
            [innerHTML]="this.articleDetail.content"></p> -->
          <p class="mt-3 px-3 post-content"
            [innerHTML]="this.sanitizer.bypassSecurityTrustHtml(this.articleDetail.content)"></p>

          <div class="about-author margin-top-70 margin-bottom-50 ">
            <div class="picture text-center">
              <img [src]="articleDetail.user.image" class="img-responsive w-100" alt="">
            </div>

            <div class="c-padding">
              <h3>Article By <a [routerLink]="['/article/search']" [queryParams]="{ authorID:articleDetail.user.id }"
                  target="_blank">{{articleDetail.user.name}}</a></h3>
              <p [innerHTML]="articleDetail.user.introduction?articleDetail.user.introduction:'尚無自介'"></p>
            </div>
          </div>
          <!-- Post Author Bio Box End -->

          <!-- You May Also Like Start -->
          <div class="you-may-also-like margin-top-50 margin-bottom-50">
            <h3>You may also like</h3>
            <div class="row">

              <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="single.html">
                  <p>Make mailchimp singup form working with ajax using jquery plugin</p>
                </a>
              </div>

              <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="single.html">
                  <p>How to design elegant e-mail newsletter in html for wish christmas to your subscribers?</p>
                </a>
              </div>

              <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="single.html">
                  <p>How to customize a wordpress theme entirely from scratch using a child theme?</p>
                </a>
              </div>

            </div>
          </div>
          <!-- You May Also Like End -->

          <!-- Post Comment (Disqus) Start -->
          <div id="comment" class="comment">
            <h3>{{commentToDisplay.length}} {{commentToDisplay.length>1?'Comments':'Comment'}} </h3>
            <hr>
            <div class="comment-item" *ngFor="let item of commentToDisplay;let index = index">
              <div class="d-flex flex-column">
                <div class="d-flex align-items-center flex-wrap my-3">
                  <div class="col-12 d-flex align-items-center  flex-wrap px-0 px-sm-2">
                    <h4 class="comment-index col-12">{{index+1}}</h4>
                    <div class="comment-photo mx-3" [style]="{backgroundImage:'url(' + item.user.image + ')'}"></div>
                    <div class="mx-0 mx-sm-3 pl-3">
                      <h4 class="author-name mx-1 my-2"><a routerLink="/">{{item.user.name}}</a></h4>
                      <span class="post-info font-italic"> {{item.updated_at}}</span>
                    </div>
                    <div
                      class="ml-auto comment-btn d-flex col-12 col-sm-1  flex-row flex-sm-column flex-sm-column-reverse justify-content-between">
                      <a (click)="pickDeleteMode(deleteModal,'c',item.id)" *ngIf="item.user.id===loginUserInfo.id">
                        <i class="fas fa-trash "></i></a>
                      <a (click)="turnOnEditMode(item.id,item.content)" *ngIf="item.user.id===loginUserInfo.id">
                        <i class="fas fa-edit"></i></a>
                    </div>
                  </div>
                  <div class="col-12 comment-text mt-3" *ngIf="!(edditStatus.mode&&item.id===edditStatus.id)">
                    <p class="pl-3" [innerHTML]="item.content"></p>
                  </div>
                  <div class="eddit-comment col-12 d-flex flex-column mt-3"
                    *ngIf="edditStatus.mode&&item.id===edditStatus.id">
                    <div class="loader-container " *ngIf="showProgressBar">
                      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                      <!-- <mat-spinner class="ml-auto" diameter="40"></mat-spinner> -->
                    </div>
                    <ckeditor [(data)]="edditEditorData" [(config)]="editorConfig">
                    </ckeditor>

                    <div class="mt-2 d-flex justify-content-end">
                      <button class="btn-outline-dark btn  ml-lg-auto" (click)="turnOffEditMode()">取消</button>
                      <button class="btn-outline-success btn ml-auto ml-lg-4"
                        (click)="edditComment(item.id)">送出</button>
                    </div>

                  </div>

                </div>

              </div>
              <hr>
            </div>


            <h3>Discuss about post</h3>
            <div class="d-flex flex-wrap">
              <div class="col-12 col-lg-2 d-flex flex-lg-column mb-2 mb-lg-0">
                <div class="avatar-box">
                  <i class="abs-center article-avatar" *ngIf="!isLogin"></i>
                  <img [src]="this.loginUserInfo.image" class="w-100" alt="" *ngIf="isLogin">
                </div>
                <div class="comment-author d-flex flex-column justify-content-center pl-2 pl-lg-0" *ngIf="!isLogin">
                  <div class="tip">訪客，您好</div>
                  <div class="tip">點擊此處<a routerLink="/login">登入</a>留言</div>
                </div>
                <div class="comment-author d-flex flex-column justify-content-center pl-2 pl-lg-0" *ngIf="isLogin">
                  <h4 class="text-dark">{{loginUserInfo.name}}</h4>
                  <div class="tip">{{loginUserInfo.name}}不是你嗎?點擊此處<a routerLink='/login'
                      (click)="loginSvc.logoutUser(loginUserInfo.member_token)">登出</a>留言</div>
                </div>
              </div>

              <ckeditor class="col-12 col-lg-10" [(data)]="editorData" [(config)]="editorConfig" [readOnly]="!isLogin">
              </ckeditor>

              <div class="col-12 ">
                <button class="load-more-button mx-0 ml-auto my-2" (click)="insertCommit()"> 送出</button>
              </div>
            </div>

          </div>
          <!-- Post Comment (Disqus) End -->
          <!-- Modal -->
          <ng-template #deleteModal let-modal>

            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">刪除{{deleteMode==='c'?'留言':'文章'}}</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="loader-container " *ngIf="deleteProgressBar">
              <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
              <!-- <mat-spinner class="ml-auto" diameter="40"></mat-spinner> -->
            </div>
            <div class="modal-body">
              <ngb-alert class="myalert" [type]="'success'" [dismissible]="false" *ngIf="deleteSuccessAlert">成功刪除
              </ngb-alert>
              確定要刪除此{{deleteMode==='c'?'留言':'文章'}}？
            </div>
            <div class="modal-footer px-4">
              <button *ngIf="deleteMode==='c'" type="button" class="btn btn-outline-danger mr-auto"
                (click)="deleteComment(modal)">Delete the comment</button>
              <button *ngIf="deleteMode==='a'" type="button" class="btn btn-outline-danger mr-auto"
                (click)="deleteArticle(modal)">Delete the article</button>
              <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">取消</button>
            </div>
          </ng-template>
          <!-- Modal -->
        </div>
      </div>

    </div>



    <!-- Subscribe Form Start -->
    <div class="col-md-12 col-md-offset-2">
      <form [formGroup]="subscribeForm">
        <div class="subscribe-form margin-top-20">
          <input matInput placeholder="pat@example.com" type="email" class="text-input" formControlName="email"
            required>
          <button class="submit-btn" type="submit">Submit</button>
        </div>
        <p>Subscribe to my weekly newsletter</p>
        <label for="mc-email" class="mc-label"></label>
      </form>

      <!-- <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="" required>
          <mat-error></mat-error>
        </mat-form-field>
      </div> -->

      <!-- Subscribe Form End -->


    </div>
  </div>
