<div class="container">

  <div class="col-md-12 page-body">
    <div class="row">





      <div class="col-md-12 content-page">
        <div class="sub-title">
          <a routerLink="/home/page" title="Go to Home Page">
            <h2>Back Home</h2>
          </a>
          <a class="smoth-scroll"><i class="icon-bubbles"></i></a>
        </div>
        <div class="col-md-12 blog-post" style="display: block;">
          <!-- Post Headline Start -->
          <div class="post-title">
            <h1>{{articleDetail.title}}</h1>
          </div>
          <!-- Post Headline End -->
          <!-- Post Detail Start -->
          <div class="post-info">
            <span>{{articleDetail.updated_at| date:'longDate'}} / by <a routerLink=''
                target="_blank">{{articleDetail.user.name}}</a></span>
          </div>
          <!-- Post Detail End -->


          <p [innerHTML]="articleDetail.content"></p>





          <div class="about-author margin-top-70 margin-bottom-50">
            <div class="picture text-center">
              <img [src]="articleDetail.user.image" class="img-responsive w-75" alt="">
            </div>

            <div class="c-padding">
              <h3>Article By <a routerLink='' target="_blank">{{articleDetail.user.name}}</a></h3>
              <p>這邊可以讓user寫一些自我介紹啥的。</p>
            </div>
          </div>
          <!-- Post Author Bio Box End -->




          <!-- You May Also Like Start -->
          <div class="you-may-also-like margin-top-50 margin-bottom-50">
            <h3>You may also like</h3>
            <div class="row">

              <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="single.html">
                  <p>Make mailchimp singup form working with ajax using jquery plugin</p>
                </a>
              </div>

              <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="single.html">
                  <p>How to design elegant e-mail newsletter in html for wish christmas to your subscribers?</p>
                </a>
              </div>

              <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="single.html">
                  <p>How to customize a wordpress theme entirely from scratch using a child theme?</p>
                </a>
              </div>

            </div>
          </div>
          <!-- You May Also Like End -->




          <!-- Post Comment (Disqus) Start -->
          <div id="comment" class="comment">
            <h3>{{articleDetail.comments.length}} {{articleDetail.comments.length>1?'Comments':'Comment'}} </h3>



            <h3>Discuss about post</h3>
            <div class="d-flex flex-wrap">
              <div class="col-12 col-lg-2 d-flex flex-lg-column mb-2 mb-lg-0">
                <div class="avatar-box">
                  <i class="article-avatar abs-center" ></i>
                </div>
                <div class="comment-author d-flex flex-column justify-content-center pl-2 pl-lg-0">
                  <div class="tip">您現在以訪客身分留言</div>
                  <div class="tip">點擊此處<a routerLink="/login">登入</a></div>
                </div>
              </div>
              <ckeditor class="col-12 col-lg-10" [(data)]="editorData" [(config)]="editorConfig" >
              </ckeditor>
              <div class="col-12 ">
                <button class="load-more-button mx-0 ml-auto my-2"> 送出</button>
              </div>
            </div>

          </div>
          <!-- Post Comment (Disqus) End -->



        </div>
      </div>

    </div>



    <!-- Subscribe Form Start -->
    <div class="col-md-12 col-md-offset-2">
      <form id="mc-form" method="post"
        action="http://uipasta.us14.list-manage.com/subscribe/post?u=854825d502cdc101233c08a21&amp;id=86e84d44b7"
        novalidate="true">

        <div class="subscribe-form margin-top-20">
          <input id="mc-email" type="email" placeholder="Email Address" class="text-input" name="EMAIL">
          <button class="submit-btn" type="submit">Submit</button>
        </div>
        <p>Subscribe to my weekly newsletter</p>
        <label for="mc-email" class="mc-label"></label>
      </form>

    </div>
    <!-- Subscribe Form End -->


  </div>
</div>
