<nav class="navbar navbar-expand-lg navbar-dark fixed-top"
    [ngClass]="{'bg-dark': navColor|| !pathName.includes('home/page')}"
  [@smoothCollapse]="isScrollUp?'final':'initial'">
  <div class="container">
    <a class="navbar-brand" routerLink="/home/page/1">Usong</a>
    <div class="d-block d-lg-none text-white" *ngIf="isLogin">
      你好，{{userName?userName:''}}
    </div>
    <button class="navbar-toggler collapsed" type="button" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [@smoothCollapse]="isCollapsed?'final':'initial'" class=" navbar-collapse ">
      <ul class="navbar-nav">
        <li class="nav-item" [ngClass]="{active:pathName.includes('home/page')}">
          <a class="nav-link" routerLink="/home/page/1">Home</a>
        </li>
        <li class="nav-item" [ngClass]="{active:pathName==='gallery'}">
          <a class="nav-link" routerLink="/gallery">Gallery</a>
        </li>
        <li class="nav-item" [ngClass]="{active:pathName==='userList'}">
          <a class="nav-link" routerLink="/userList">UserList</a>
        </li>
        <li class="nav-item" [ngClass]="{active:pathName==='login'}" *ngIf="!isLogin">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" [ngClass]="{active:pathName==='login'}" *ngIf="isLogin">
          <a class="nav-link" routerLink="/" (click)="doLogout()">Logout</a>
        </li>
      </ul>
    </div>
    <div class="ml-auto text-white d-none d-lg-block" *ngIf="isLogin">
      你好，{{userName?userName:''}}
    </div>
  </div>
</nav>
