<div class="d-flex flex-column align-items-center my-4">
  <h1>UserList</h1>
  <!-- search Bar -->
  <div class="d-block text-center d-md-flex  align-items-center justify-content-center">
    <select class="mx-1 my-2 my-md-0 custom-select" style="width: 7rem;" [(ngModel)]="searchType">
      <option selected="selceted" value="0">ID</option>
      <option value="1">NAME</option>
      <option value="2">EMAIL</option>
    </select>
    <input class=" mx-1 my-2 my-md-0 form-control w-80" type="text"
      [(ngModel)]="searchText"
      [ngbTypeahead]="search"
      [resultTemplate]="optionBox"
      (ngModelChange)="doSearch()"
      >
    <div class="mx-1 my-2 my-md-0 d-flex text-center">
      <button class="mx-3 btn btn-success my-2" style="width: 5rem;" (click)="getUserList()">重整</button>
      <!-- <button class="mx-3 btn btn-success my-2"style="width: 5rem;"
      data-toggle="modal" data-target="#editModal">EDIT</button> -->
      <a routerLink="/userList/register">
        <button class="mx-3 btn btn-success my-2" style="width: 5rem;">新增</button>
      </a>
    </div>
  </div>
  <!-- search Bar -->

  <!-- typeahead template -->
  <ng-template #optionBox let-r="result" let-t="term"  >
    <img [src]="'https://scontent-tpe1-1.xx.fbcdn.net/v/t1.18169-9/1618430_864947700196188_9121347223676771421_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=174925&_nc_ohc=5q4nu9AQzpEAX8dpFxx&_nc_ht=scontent-tpe1-1.xx&oh=ed32b97dae0bfe5be09a13ca6f2ba8a1&oe=613006B3'" width="40px" height="45px" alt="">
    <ngb-highlight [result]="r" [term]="t" >
    </ngb-highlight>
  </ng-template>

  <!-- typeahead template -->

  <!-- test -->

  <!-- test -->

  <!-- table -->
  <table class="table table-dark table-responsive my-3 user-list d-md-table">
    <thead>
      <tr>
        <th>UserID</th>
        <th>UserEmail</th>
        <th>UserName</th>
        <th>CreatedDate</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr class="user-tr" *ngFor="let user of userListToView"
      (click)="open(editModal)">
        <td class="col-1">{{user.id}}</td>
        <td class="col-4" style="word-wrap:break-all;">{{user.email}}</td>
        <td class="col-3">{{user.name}}</td>
        <td class="col-2">{{user.created_at | date:'yyyy-MM-dd' }}</td>
        <td class="col-2">{{user.email_verified_at?'已驗證':'尚未驗證'}}</td>
      </tr>
    </tbody>
  </table>
  <!-- table -->

  <!-- pageNav -->
  <nav aria-label="Page navigation example ">
    <ul class="pagination my-3">
      <li class="page-item" [ngClass]="{disabled:1 === currentPage}">
        <a class="page-link" (click)="renderPage(1)">
          <span aria-hidden="true">∥&#060;</span>
        </a>
      </li>
      <li class="page-item" [ngClass]="{disabled:1 === currentPage}">
        <a class="page-link" (click)="renderPage(currentPage-1)">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" [ngClass]="{active:item === currentPage}" *ngFor="let item of pageArr">
        <a class="page-link" (click)="renderPage(item)">{{item}}</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:totalPage === currentPage}">
        <a class="page-link" (click)="renderPage(currentPage+1)">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li class="page-item" [ngClass]="{disabled:totalPage === currentPage}">
        <a class="page-link" (click)="renderPage(totalPage)">
          <span aria-hidden="true">&#062;∥</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- pageNav -->

  <!-- Modal -->
  <!-- <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
    aria-hidden="true">
    <app-user-modal></app-user-modal>
  </div> -->

  <ng-template #editModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
            <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
  <!-- Modal -->

</div>
