
.user-list > tbody > tr:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.pagination > .page-item:hover:not(.disabled):hover:not(.active):hover > a{
  background-color: rgb(66, 66, 66) ;
  color: white;
  cursor: pointer;
}
.pagination >.page-item.disabled:hover,.page-item.active:hover{
  color: white;
  cursor:default !important;
}

 /* .modal.show .modal-dialog {
      transition: 0.25s all;
      opacity: 0;
      transform: translate(0, 5vh);
  }

 .modal.custom-show .modal-dialog {
      opacity: 1;
      transform: translate(0, 0);
  } */

  /* modal animation */

