
.user-list > tbody > tr:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.pagination > .page-item:hover:not(.disabled):hover:not(.active):hover > a{
  background-color: rgb(66, 66, 66) ;
  color: white;
}
.pagination >.page-item.disabled:hover,.page-item.active:hover{
  color: white;
  cursor:default !important;
}
