<div class="d-flex flex-column align-items-center my-4">
  <h1>UserList</h1>
  <div class="d-block text-center d-md-flex  align-items-center justify-content-center">
    <select class="mx-1 my-2 my-md-0 custom-select" style="width: 7rem;" [(ngModel)]="searchType">
      <option selected="selceted" value="0">ID</option>
      <option value="1">NAME</option>
      <option value="2">EMAIL</option>
    </select>
    <input class=" mx-1 my-2 my-md-0 form-control w-80" type="text"
      [(ngModel)]="searchText"
      [ngbTypeahead]="search"
      (ngModelChange)="doSearch()">
    <div class="mx-1 my-2 my-md-0 d-flex text-center">
      <button class="mx-3 btn btn-success my-2" style="width: 5rem;" (click)="getUserList()">重整</button>
      <!-- <button class="mx-3 btn btn-success my-2"style="width: 5rem;"
      data-toggle="modal" data-target="#editModal">EDIT</button> -->
      <a routerLink="/userList/register">
        <button class="mx-3 btn btn-success my-2" style="width: 5rem;">新增</button>
      </a>
    </div>
  </div>

<!-- test -->
    <pre >Model: </pre>
<!-- test -->


  <table class="table table-dark table-responsive my-3 user-list d-md-table">
    <thead>
      <tr>
        <th>UserID</th>
        <th>UserEmail</th>
        <th>UserName</th>
        <th>CreatedDate</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr class="user-tr" *ngFor="let user of userListToView"
        data-toggle="modal" data-target="#editModal">
        <td class="col-1">{{user.id}}</td>
        <td class="col-4" style="word-wrap:break-all;">{{user.email}}</td>
        <td class="col-3">{{user.name}}</td>
        <td class="col-2">{{user.created_at | date:'yyyy-MM-dd' }}</td>
        <td class="col-2">{{user.email_verified_at?'已驗證':'尚未驗證'}}</td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{disabled:1 === currentPage}">
        <a class="page-link" (click)="renderPage(1)">
          <span aria-hidden="true">∥&#060;</span>
        </a>
      </li>
      <li class="page-item" [ngClass]="{disabled:1 === currentPage}">
        <a class="page-link" (click)="renderPage(currentPage-1)">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" [ngClass]="{active:item === currentPage}" *ngFor="let item of pageArr">
        <a class="page-link" (click)="renderPage(item)">{{item}}</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:totalPage === currentPage}">
        <a class="page-link" (click)="renderPage(currentPage+1)">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li class="page-item" [ngClass]="{disabled:totalPage === currentPage}">
        <a class="page-link" (click)="renderPage(totalPage)">
          <span aria-hidden="true">&#062;∥</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
    aria-hidden="true">
    <app-user-modal></app-user-modal>
  </div>
</div>
