
.user-list > tbody > tr:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.pagination > .page-item:hover:not(.disabled):hover:not(.active):hover > a{
  background-color: rgb(66, 66, 66) ;
  color: white;
  cursor: pointer;
}
.pagination >.page-item.disabled:hover,.page-item.active:hover{
  color: white;
  cursor:default !important;
}
.avatar{
  width: 200px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  border: 1px solid transparent;
  border-radius: 15px;
  transition: .5s;
  position: relative;
}
.avatar:hover{
  background-color: #dadb8441;
  background-blend-mode: multiply;
  border: 1px solid #dadb84;
}
.avatar img{
  width: 198px;
  height: 248px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.fileInput{
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}
