@font-face {
  font-family: nucleo;
  src: url('/src/assets/fonts/nucleo-icons.ttf');
}
.mybanner{
  background: linear-gradient(to right, rgb(44, 62, 80), rgb(52, 152, 219)) !important;
  height: 80vh;
  padding: 12.5rem;
  position: relative;
}



.article-list{
  margin: 2.5rem 0 1rem;
}

.my-photo{
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}
.blog-post p{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
  white-space:normal;
}
.home-pagination{
  margin-bottom: 6rem;
}

@media screen and (min-width : 992px) {
  .display-1-lg{
    font-size: 5rem;
  }
  .abs-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width : 992px) {
  .mybanner{
   height: fit-content;
    padding: 7rem 0;
  }
}
