@font-face {
  font-family: nucleo;
  src: url('/src/assets/fonts/nucleo-icons.ttf');
}
.mybanner{
  background: linear-gradient(to right, rgb(44, 62, 80), rgb(52, 152, 219)) !important;
  height: 80vh;
  padding: 12.5rem;
  position: relative;
}



.article-list{
  margin: 50px 0 1rem;
}

.my-photo{
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}
.blog-post p{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
  white-space:normal;
}
.home-pagination{
  margin-bottom: 6rem;
}

.avatar-box{
  width: 120px;
  height: 140px;
  background-color: rgb(218, 218, 218);
  /* border: 1px solid rgb(156, 156, 147); */
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.article-avatar::before{
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  content: "\f007";
  opacity: .8;
  font-size: 3rem;
}
.abs-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.comment-author{
  color: rgb(128, 128, 128);
  margin: .5rem 0
}
.comment-author .tip{
  font-size: .8rem;
  font-style: italic;
}
.comment-index{

}


.comment-photo{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width : 992px) {
  .display-1-lg{
    font-size: 5rem;
  }
  .abs-md-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .comment-text {
    padding-left: 160px;
  }
  .comment-text *{
    font-size: 1rem;
  }
}

@media screen and (max-width : 992px) {
  .mybanner{
   height: fit-content;
    padding: 7rem 0;
  }
  .comment-text {
    padding-left: 60px;
  }
  .comment-text *{
    font-size: 1rem;
  }
  .comment-photo{
    width: 80px;
    height: 80px;
  }
}
