<div class=" blog-post" style="display: block;">
  <div class="post-title">
    <a routerLink="/article/{{article.id}}">
      <h1>{{article.title}}</h1>
    </a>
  </div>
  <div class="post-info">
    <span>{{article.updated_at| date:'longDate'}} / by
      <a [routerLink]="['/article/search']" [queryParams]="{ authorID:article.user.id }">
        {{article.user.name}}</a>
    </span>
  </div>
  <p>{{article.preview_content}}</p>
  <a routerLink="/article/{{article.id}}" class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a>
</div>
