<div class="modal-header">
  <h4 class="modal-title text-danger">確定要刪除嗎？</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ngb-alert [type]="'danger'" [dismissible]="false">此操作無法回復！</ngb-alert>
  <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="isSameId">刪除自己帳號，系統將自動為您登出!</ngb-alert>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-danger mr-auto" (click)="doDelete(activeModal)">確定刪除</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Close</button>
</div>
