/* You can add global styles to this file, and also import other style files */
body{
  background: linear-gradient(to right, rgb(44, 62, 80), rgb(52, 152, 219)) !important;
}

/* input下拉提示選單 */
.dropdown-item.active, .dropdown-item:active {
  background-color: rgb(56, 56, 56) !important;
}
/* modal動畫 */
.modal-content{
  animation-name: modal;
  animation-duration: 0.5s;
}
ngb-modal-backdrop  {
  animation-name: modal-bg;
  animation-duration: .5s;
}

ngb-alert.myalert {
  animation-name: alert ;
  animation-duration: 1s;
}

.navbar-collapse{
  animation-name: navbar;
  animation-duration: 1s;
}

@keyframes modal {
  0%   {
    transform:translateY(-50px);
    opacity: 0;
  }
  75%  {
  }
  100% {
    opacity: 1;
  }

}
@keyframes modal-bg {
  0%   {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }

}
@keyframes alert {
  0% {
  -webkit-transform: scale(1);
  transform: scale(1);
  }

  14% {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  }

  28% {
  -webkit-transform: scale(1);
  transform: scale(1);
  }

  42% {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  }

  70% {
  -webkit-transform: scale(1);
  transform: scale(1);
  }
}
@keyframes navbar {
  0%   {
    transform:translateY(-50px);
    opacity: 0;
  }
  75%  {
  }
  100% {
    opacity: 1;
  }

}

/* carousel */
ngb-carousel {
  max-width: 100%;
  margin: 50px auto;
}

ngb-carousel img {
  width: 100vw;
  outline: none;
  max-width: 100%;
}

ngb-carousel {
  width: inherit;
  height: inherit;
}

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
}

.carousel-item.active{
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.carousel-control-prev {
   z-index: 20;
}

.carousel-control-next {
   z-index: 20;
}

.carousel-indicators{
  z-index: 20;
}
