/* You can add global styles to this file, and also import other style files */
.dropdown-item.active, .dropdown-item:active {
  background-color: rgb(56, 56, 56) !important;
}

.modal-content{
  animation-name: modal;
  animation-duration: 0.5s;
}
ngb-modal-backdrop  {
  animation-name: modal-bg;
  animation-duration: .5s;
}

ngb-alert {
  animation-name: alert ;
  animation-duration: .5s;
}

@keyframes modal {
  0%   {
    transform:translateY(-50px);
    opacity: 0;
  }
  75%  {
  }
  100% {
    opacity: 1;
  }

}
@keyframes modal-bg {
  0%   {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }

}
@keyframes alert {
  0%   {
    transform: scale(0.5);
    opacity: 0;
  }
  75%  {
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }

}
