<div class="page-header">
  <div class="jumbotron jumbotron-fluid mybanner">
    <div class="container d-flex flex-column  text-white ">
      <span>welcome dear</span>
      <h1 class="display-1-lg font-weight-bold my-4">Usong's Coding Blog</h1>
      <p class="lead text-right ">This blog is produced by Usong(Front-end) and Roy(Back-end).</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="d-flex flex-column article-list">
    <div class="article-card my-4">
      <div class="article-img"
        style="background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/78bb4283988751.5e1d9fd8ed174.jpg);">

      </div>
      <h1 class="article-title">title</h1>
      <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet placeat quia ipsam
        culpa molestias, omnis sint
        a, necessitatibus doloribus perferendis error nihil ut autem impedit beatae amet deserunt aliquid veniam?Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Repudiandae pariatur modi necessitatibus non, a vel, repellat
        corrupti id velit delectus tempore impedit sequi accusamus aliquid fuga. Eaque facere aliquam corrupti. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Rem officia sunt, eligendi voluptates sequi exercitationem,
        perferendis molestias, recusandae earum in consectetur ducimus hic labore quos sit laborum impedit eaque
        adipisci.</p>

    </div>

    <div class="article-card my-4">
      <div class="article-img"
        style="background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/78bb4283988751.5e1d9fd8ed174.jpg);">

      </div>
      <h1 class="article-title">title</h1>
      <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet placeat quia ipsam
        culpa molestias, omnis sint
        a, necessitatibus doloribus perferendis error nihil ut autem impedit beatae amet deserunt aliquid veniam?Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Repudiandae pariatur modi necessitatibus non, a vel, repellat
        corrupti id velit delectus tempore impedit sequi accusamus aliquid fuga. Eaque facere aliquam corrupti. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Rem officia sunt, eligendi voluptates sequi exercitationem,
        perferendis molestias, recusandae earum in consectetur ducimus hic labore quos sit laborum impedit eaque
        adipisci.</p>
      <hr class="my-0">
      <div class="article-footer">post by 冠農</div>

    </div>
    <h1 class="text-center">Home</h1>
    <h4 class=" text-center">留個言吧</h4>
    <textarea name="myTextArea" id="myTextArea" cols="30" rows="10" class="form-group mx-auto w-100"
      [(ngModel)]="inputText"></textarea>

    <span class="text-danger mx-auto " style="font-weight: bold;" *ngIf="showWarn">你沒輸入東西送三小?</span>
    <button class="mx-auto btn btn-primary mt-2" style="width: 5rem;" (click)="send()">送出</button>
  </div>
</div>


<!-- <div><code>observable|async</code>: Time: {{ time | async }}</div> -->
